[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "IconFonts" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dostupni-tsiny .path1:before {
	content: "\e900";
	color: rgb(250, 250, 250);
}
.icon-dostupni-tsiny .path2:before {
	content: "\e901";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-dostupni-tsiny .path3:before {
	content: "\e902";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-dostupni-tsiny .path4:before {
	content: "\e903";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-dostupni-tsiny .path5:before {
	content: "\e904";
	margin-left: -0.986328125em;
	color: rgb(113, 135, 252);
}
.icon-dostupni-tsiny .path6:before {
	content: "\e905";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-dostupni-tsiny .path7:before {
	content: "\e906";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-ekskliuzyvni-optsii:before {
	content: "\e907";
	color: #fafafa;
}
.icon-informatsiinyi-suprovid-24-7 .path1:before {
	content: "\e908";
	color: rgb(250, 250, 250);
}
.icon-informatsiinyi-suprovid-24-7 .path2:before {
	content: "\e909";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-informatsiinyi-suprovid-24-7 .path3:before {
	content: "\e90a";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-informatsiinyi-suprovid-24-7 .path4:before {
	content: "\e90b";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-informatsiinyi-suprovid-24-7 .path5:before {
	content: "\e90c";
	margin-left: -0.986328125em;
	color: rgb(255, 255, 255);
}
.icon-informatsiinyi-suprovid-24-7 .path6:before {
	content: "\e90d";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-informatsiinyi-suprovid-24-7 .path7:before {
	content: "\e90e";
	margin-left: -0.986328125em;
	color: rgb(250, 250, 250);
}
.icon-mozhlyvist-rozstrochky-KASKO:before {
	content: "\e90f";
	color: #fafafa;
}
.icon-operatyvnist-vyplat .path1:before {
	content: "\e910";
	color: rgb(250, 250, 250);
}
.icon-operatyvnist-vyplat .path2:before {
	content: "\e911";
	margin-left: -1.265625em;
	color: rgb(113, 135, 252);
}
.icon-operatyvnist-vyplat .path3:before {
	content: "\e912";
	margin-left: -1.265625em;
	color: rgb(250, 250, 250);
}
.icon-operatyvnist-vyplat .path4:before {
	content: "\e913";
	margin-left: -1.265625em;
	color: rgb(250, 250, 250);
}
.icon-prozori-umovy-dohovoru:before {
	content: "\e914";
	color: #fafafa;
}
.icon-shvydkist-ukladennia-dohovoru:before {
	content: "\e915";
	color: #fafafa;
}
.icon-vilne-kombinuvannia-ryzykiv:before {
	content: "\e916";
	color: #fafafa;
}
